.btn {
    background-color: #3f5b92;
    color: #ebebeb;
    padding: 5px;
    margin: 15px auto;
}

input {
    margin: 10px auto;
}

form {
    margin: 20px auto 20px auto;
    text-align: center;

}